header {
  color: orange;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  font-weight:normal;
}

main {
  background-image: url(images/background.jpg);
  color: red;
}

footer {
  background-color: lightgrey;
}

nav {
  background-color: purple;
}

a {
  color: red;
}

a:hover {
  color: yellow;
}

a:visited {
  color: green;
}

.turnwhite {
  color: white;
}

.turnpink {
  color: lightpink;
}

.turnblue {
  color: lightblue;
}
 #turnpurple {
   color:purple;
 }

#divdiv {
  background-color: lightblue;
  color: orange;
}

.customtext{
  font-family:  Arial, Helvetica, sans-serif;
}

.whitefont{
  color:white;
  font-family: Arial, Helvetica, sans-serif;
}

.centerfont {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.justifytext {
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify;
}

.imgbox{
  border: 10px solid black;
  padding: 5px 5px 5px 5px;
}
