h2{
  color: blue;
  font-family: helvetica;
  font-weight: normal;
}
 .p1{
   font-weight: bold;
   text-align: justify;

 }
 .floatimage{
   border: 3px solid #0760A1;
   margin: 10px;
   float: left;
}
.floatimage2{
  border: 3px solid #0760A1;
  margin:10px;
  float: left;
}
.floatimage3{
  border: 3px solid #0760A1;
  margin: 10px;
  float: left;
}
.p3{
  clear:both;
}

main{
  padding: 20px;
}

.turnred{
  color: red;
  font-weight: bold;
}
